# Database Configuration
MONGODB_URI=

# JWT (JSON Web Token) Configuration for authentication
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_COOKIE_EXPIRES_IN=

# Session Configuration for express-session
SESSION_SECRET=

# OAuth - Google Configuration for Google authentication
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OAuth - GitHub Configuration for GitHub authentication
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Server Configuration
PORT=
NODE_ENV=

# Frontend URL for CORS (Cross-Origin Resource Sharing)
FRONTEND_URL=

# Email Configuration (Nodemailer)
# Used for sending emails (e.g., password reset, verification)
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM_NAME=
EMAIL_FROM=

# AI API Keys
# Open AI API Key for integrating with OpenAI services
OPENAI_API_KEY=
# GEMINI API Key for integrating with Google Gemini services
GEMINI_API_KEY=
