# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

#SSL certificates
ssl/

# Build output
dist/
build/

# Cache
.cache/
*.cache

# IDE/Editor settings
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# ESLint cache
.eslintcache

# Coverage reports
coverage/

# Temporary files
*.tmp
*.tempnode_modules/
temp/
